body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #202233;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    text-align: left;
    width: 100%;
    z-index: 999;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#back {
    text-decoration: none;
    display: inline-block;
    font-size: 200%;
    color: #202233;
    margin: 0;
}

#title {
    font-size: 400%;
    text-align: center;
    margin: 0;
    padding: 0;
}


#board {
    background-color: #9099aa;
    border: 10px solid #202233;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 33.3334% ;
    height: 33.3334%;
    border: 0px solid #202233;
}

h2 {
    font-size: 300%;
}

@media only screen and (max-width: 600px) {
    #back {
        font-size: 180%;
    }
    
    #title {
        font-size: 300%;
    }
    #board {
        width: 80%;
        height: 80%;
    }
    main {
        padding-top: 120px;
    }
}
@media only screen and (min-width: 600px) {
    #back {
        font-size: 180%;
    }
    
    #title {
        font-size: 300%;
    }
    #board {
        width: 60%;
        height: 60%;
    }
    main {
        padding-top: 120px;
    }
}
@media only screen and (min-width: 768px) {
    #back {
        font-size: 180%;
    }
    
    #title {
        font-size: 300%;
    }
    #board {
        width: 50%;
        height: 50%;
    }
    main {
        padding-top: 150px;
    }
}
@media only screen and (min-width: 992px) {

    #back {
        font-size: 190%;
    }
    
    #title {
        font-size: 360%;
    }
    
    main {
        padding-top: 120px;
    }
    #board {
        width: 40%;
        height: 40%;
    }
}

@media only screen and (min-width: 1200px) {
    #back {
        font-size: 200%;
    }
    
    #title {
        font-size: 400%;
    }
    
    main {
        padding-top: 130px;
    }
    #board {
        width: 30%;
        height: 30%;
    }
}
