body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #202233;
}



#menu {

    margin: 0 auto;
    background-color: #9099aa;
    border: 6px solid #202233;
    table-layout: fixed;
    border-collapse: collapse;
}

#menu th {
    background-color: #9099aa;
    border: 4px solid #202233;
    padding: 10px;
    width: calc(100% / 3);
}

#menu th a {

    padding-top: 20%;
    padding-bottom: 20%;
    width: 100%;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #202233;
    font-size: 16px;
    align-items: center;
    justify-content: center; 
   
}


@media only screen and (max-width: 767px) {
    #title {
        font-size: 300%;
    }
    #menu {
        width: 90%;
        height: 80px;
        border: 10px solid #202233;
    }   
    #menu th {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        padding: 0px;
        border: 1px solid #202233;
    }
    #menu th a {
        padding-top: 20%;
        padding-bottom: 20%;
        font-size: 55px;  
        
    }
}
@media only screen and (min-width: 768px) {
    #title {
        font-size: 600%;
    }
    #menu {
        width: 90%;
        height: 80px;
        border: 10px solid #202233;
    }   
    #menu th {
        border: 8px solid #202233;
    }
    #menu th a {
        padding-top: 20%;
        padding-bottom: 20%;
        font-size: 52px;  
        
    }
}
@media only screen and (min-width: 992px) {
    #title {
        font-size: 400%;
    }
    #menu {
        width: 50%;
        height: 80px;
    }   
    #menu th a {
        padding-top: 20%;
        padding-bottom: 20%;
        font-size: 24px;  
    }
}
@media only screen and (min-width: 1200px) {
    #title {
        font-size: 600%;
    }
    #menu {
        height: 120px;
        border: 10px solid #202233;
    }
    #menu th {
        border: 5px solid #202233;
    }
    #menu th a {
        padding-top: 10%;
        padding-bottom: 10%;
        width: 100%;
        font-size: 30px;      
    } 
}